<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.leyou.item.dao.TbSpuDetailMapper">
    <resultMap id="BaseResultMap" type="com.leyou.item.pojo.TbSpuDetail">
        <id column="spu_id" property="spuId" jdbcType="BIGINT"/>
        <result column="generic_spec" property="genericSpec" jdbcType="VARCHAR"/>
        <result column="special_spec" property="specialSpec" jdbcType="VARCHAR"/>
        <result column="packing_list" property="packingList" jdbcType="VARCHAR"/>
        <result column="after_service" property="afterService" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.leyou.item.pojo.TbSpuDetail" extends="BaseResultMap">
        <result column="description" property="description" jdbcType="LONGVARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    spu_id, generic_spec, special_spec, packing_list, after_service
  </sql>
    <sql id="Blob_Column_List">
    description
  </sql>
    <select id="selectAll" resultMap="ResultMapWithBLOBs">
    select * from tb_spu_detail
  </select>
    <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from tb_spu_detail
        where spu_id = #{spuId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_spu_detail
    where spu_id = #{spuId,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.leyou.item.pojo.TbSpuDetail">
    insert into tb_spu_detail (spu_id, generic_spec, special_spec,
      packing_list, after_service, description
      )
    values (#{spuId,jdbcType=BIGINT}, #{genericSpec,jdbcType=VARCHAR}, #{specialSpec,jdbcType=VARCHAR},
      #{packingList,jdbcType=VARCHAR}, #{afterService,jdbcType=VARCHAR}, #{description,jdbcType=LONGVARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.leyou.item.pojo.TbSpuDetail">
        insert into tb_spu_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="spuId != null">
                spu_id,
            </if>
            <if test="genericSpec != null">
                generic_spec,
            </if>
            <if test="specialSpec != null">
                special_spec,
            </if>
            <if test="packingList != null">
                packing_list,
            </if>
            <if test="afterService != null">
                after_service,
            </if>
            <if test="description != null">
                description,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="spuId != null">
                #{spuId,jdbcType=BIGINT},
            </if>
            <if test="genericSpec != null">
                #{genericSpec,jdbcType=VARCHAR},
            </if>
            <if test="specialSpec != null">
                #{specialSpec,jdbcType=VARCHAR},
            </if>
            <if test="packingList != null">
                #{packingList,jdbcType=VARCHAR},
            </if>
            <if test="afterService != null">
                #{afterService,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.leyou.item.pojo.TbSpuDetail">
        update tb_spu_detail
        <set>
            <if test="genericSpec != null">
                generic_spec = #{genericSpec,jdbcType=VARCHAR},
            </if>
            <if test="specialSpec != null">
                special_spec = #{specialSpec,jdbcType=VARCHAR},
            </if>
            <if test="packingList != null">
                packing_list = #{packingList,jdbcType=VARCHAR},
            </if>
            <if test="afterService != null">
                after_service = #{afterService,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where spu_id = #{spuId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.leyou.item.pojo.TbSpuDetail">
    update tb_spu_detail
    set generic_spec = #{genericSpec,jdbcType=VARCHAR},
      special_spec = #{specialSpec,jdbcType=VARCHAR},
      packing_list = #{packingList,jdbcType=VARCHAR},
      after_service = #{afterService,jdbcType=VARCHAR},
      description = #{description,jdbcType=LONGVARCHAR}
    where spu_id = #{spuId,jdbcType=BIGINT}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.leyou.item.pojo.TbSpuDetail">
    update tb_spu_detail
    set generic_spec = #{genericSpec,jdbcType=VARCHAR},
      special_spec = #{specialSpec,jdbcType=VARCHAR},
      packing_list = #{packingList,jdbcType=VARCHAR},
      after_service = #{afterService,jdbcType=VARCHAR}
    where spu_id = #{spuId,jdbcType=BIGINT}
  </update>
    <update id="updateSelective" parameterType="com.leyou.item.pojo.TbSpuDetail">
    update tb_spu_detail
    <set>
        <if test="genericSpec != null">
            generic_spec = #{genericSpec,jdbcType=VARCHAR},
        </if>
        <if test="specialSpec != null">
            special_spec = #{specialSpec,jdbcType=VARCHAR},
        </if>
        <if test="packingList != null">
            packing_list = #{packingList,jdbcType=VARCHAR},
        </if>
        <if test="afterService != null">
            after_service = #{afterService,jdbcType=VARCHAR},
        </if>
        <if test="description != null">
            description = #{description,jdbcType=LONGVARCHAR},
        </if>
    </set>
    </update>
</mapper>